.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;

}
 #NavBar{
   background: #C6A15B;
   box-shadow: 0 3px 5px rgba(0,0,0,20.05);

 }
 



 .userInformation{
   background: #F1F1D4;
   border-radius: 10%;
   
 }

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

#login{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  text-align: center
}

#loginPhoto{
 
  height:100vh;
  max-width: 40vw;
  
}
.loginScreen{

  background-image: url("/images/login.png");
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
}
#register{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 35%;
  text-align: center
}

#registerPhoto{
 
  height:100vh;
  max-width: 40vw;
   transform: translate(150%, 0);
  
}
.registerScreen{

  background-image: url("/images/register.png");
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
}

#banner{
width: 100vw;
height: 30vh;

/* margin-left: 30%; */
background: #574D68;
}


#task-carousel{
  height: 20vh;
}

#main-page-hero{
  margin-top: 5%;
  text-align: center;
}


#main-page-hero div div.swag{
  
  padding-top: 15%;
  margin-left: 30%;
  text-align: center;
  
  
}

#COFAH-page-bottom-row{

  margin-top: 5%;
  text-align: center;
 
  
}

#COFAH-page-hero{
  width: 50vh;
  
 
  padding-top: 10%;
  margin-left: 15%;
  text-align: center;
  background-image: url("/images/scroll.png");
  background-size: 100% 100%;
  
}

#COFAH-page-hero div{
  padding-left: 20%;
}


#podium{
  height: 30%;
  width: 70%
}

#question{
  height: 30%;
  width: 70%
}

#New-Quest-Form{
  
  width: 50%;
  text-align: center;
  padding: 10px;
}

.RegisterNewQuest{
background-image: url("/images/newQuestBackground.png");
background-repeat: no-repeat;
background-size: 100vw 100vh;
height: 100vh;
padding-top:20px;

}

#New-Quest-Form{
  
  width: 50%;
  text-align: center;
  padding: 10px;
}

.NewTaskFormSprites{
  height: 100px;
  text-align: center;
}

#NewTaskFormSpriteContainer{
  height: 100px;
  text-align: center;
}

.featured-quests-buttons{
  width:100%
}

.featured-quests-container{
  background-image: url("/images/questboard.jpg");
  background-size: 100% 100%;
   text-align: center;
   padding:50px
}

.featured-quests-container h1{
  color: #F2E86D
}

.featured-quests-slide{
  padding:20px;
  background-image: url("/images/quest-background.jpg");
  background-size: 100% 100%;
}


#inside-timer-text{
  text-align: center;
  color: #574D68;
  font-size: 160%;
  font-weight: bold;
  font-family: "Arial Black", Gadget, sans-serif; 

}

.completed{
  max-width: 100%;
  max-height: 50%;
  margin-left: 25%;
  margin-top: 5%
}




#hero-avatar-container{
  
  width: 25%;
  margin-bottom: 0
 
  
}
#hero-avatar-container img{
  position: absolute;
  bottom: 0

}



#adventure-sprite-jumbotron{

  background-image: url("/images/adventureBackgrounds/7.png");
  background-size: 100% 100%;

}

#clockContainer{

  margin-left: 25%;

}

* {
  color: #574D68
}









.wrapper {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 10%;
  padding-right: 10%;
  background-image: url("/images/scroll.png");
  background-size: 100% 100%;
  text-align: center;
  

}







.reputation {
  text-transform: uppercase;
  font-size: 100%;
  font-weight: bolder;
  margin-bottom: 3px;
}





.chosenHero-Name {
  font-size: 200%;
  color: #574D68;
  font-weight: 900;
  margin-bottom: 5px;
}

.bio {
  padding: 20px;
  margin-bottom: 10px;  
}

/* body {
  background-image: url("/images/adventureBackgrounds/4.png");
  background-size: fill;
  background-repeat: no-repeat
} */

#enemy-container{
  position:absolute;
  bottom:0;
   right: 10%
}


