.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;

}
 #NavBar{
   background: #D2691E;
   box-shadow: 0 3px 5px rgba(0,0,0,20.05);

 }
 



 .userInformation{
   background: #F1F1D4;
   border-radius: 10%;
   
 }

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

#login{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  text-align: center
}

#loginPhoto{
 
  height:100vh;
  max-width: 40vw;
  
}
.loginScreen{

  background-image: url("/images/login.png");
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
}
#register{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  text-align: center
}

#registerPhoto{
 
  height:100vh;
  max-width: 40vw;
   transform: translate(150%, 0);
  
}
.registerScreen{

  background-image: url("/images/register.png");
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
}

#banner{
width: 40vw;

margin-left: 30%;
background: #D2691E;
}


#task-carousel{
  height: 20vh;
}

#main-page-hero{
  margin-top: 5%;
}

#podium{
  height: 30%;
  width: 100%
}