.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;

}
 #NavBar{
   background: #C6A15B;
   box-shadow: 0 3px 5px rgba(0,0,0,20.05);

 }
 



 .userInformation{
   background: #F1F1D4;
   border-radius: 10%;
   padding: 10px;
   
 }



#login{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  text-align: center
}

#loginPhoto{
 
  height:100vh;
  max-width: 40vw;
  
}
.loginScreen{

  background-image: url("/images/login.png");
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
}
#register{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 35%;
  text-align: center
}

#registerPhoto{
 
  height:100vh;
  max-width: 40vw;
   transform: translate(150%, 0);
  
}
.registerScreen{

  background-image: url("/images/register.png");
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
}

#banner{
width: 100vw;
height: 30vh;

/* margin-left: 30%; */
background: #574D68;
}


#task-carousel{
  height: 20vh;
}

#{
  margin-top: 5%;
  text-align: center;
}


#main-page-hero div div.swag{
  
  padding-top: 15%;
  margin-left: 30%;
  text-align: center;
  
  
}

#COFAH-page-bottom-row{

  margin-top: 5%;
  text-align: center;
 
  
}

#COFAH-page-hero{
  width: 50vh;
  
 
  padding-top: 10%;
  margin-left: 15%;
  text-align: center;
  background-image: url("/images/scroll.png");
  background-size: 100% 100%;
  
}




#podium{
  height: 30%;
  width: 70%
}

#question{
  height: 30%;
  width: 70%
}

#New-Quest-Form{
  
  width: 50%;
  height: 100%;
  text-align: center;
  /* padding: 10px; */
}

.RegisterNewQuest{
background-image: url("/images/newQuestBackground.png");
background-repeat: no-repeat;
background-size: 100% 100%;
/* height: 100vh; */
/* padding-top:20px; */

}


.NewTaskFormSprites{
  height: 100px;
  text-align: center;
}

#NewTaskFormSpriteContainer{
  height: 100px;
  text-align: center;
}

.featured-quests-buttons{
  width:100%
}

.featured-quests-container{
  background-image: url("/images/questboard.jpg");
  background-size: 100% 100%;
   text-align: center;
   padding:20px;
   
   
}

.featured-quests-container h1{
  color: #F2E86D
}

.featured-quests-slide{
  padding:20px;
  background-image: url("/images/quest-background.jpg");
  background-size: 100% 100%;
  height:100%;
  width: 100%;
}


#inside-timer-text{
  text-align: center;
  color: #574D68;
  font-size: 100%;
  font-weight: bold;
  font-family: "Arial Black", Gadget, sans-serif; 

}

.completed{
  max-width: 100%;
  max-height: 50%;
  margin-left: 25%;
  margin-top: 5%
}




#hero-avatar-container{
  
  width: 25%;
  margin-bottom: 0
 
  
}
#hero-avatar-container img{
  position: absolute;
  bottom: 0

}
#cofah-success-avatar-container{
  position: absolute;
  width: 25%;
  margin-bottom: 0;
  bottom: 0;
}

#cofah-success-avatar-container img{
  position: absolute;
}

#home-avatar-container{
  
  width: 15%;
  margin-bottom: 0
 
  
}
#home-avatar-container img{
  position: absolute;
  bottom: 0

}

#enemy-avatar-container{
  position: absolute;
  width: 25%;
  margin-bottom: 0;
  bottom: 0;
  right: 70.00%
 
  
}
#enemy-avatar-container img{
  position: absolute;
  bottom: 0;
  

}

#main-avatar-container{
  
  width: 150%;
  margin-bottom: 0
 
  
}
#main-avatar-container img{
  position: absolute;
  bottom: 0;
  

}
#COFAH-avatar-container{
  
  width: 200%;
  margin-bottom: 0;
 
  
}
#COFAH-avatar-container img{
  position: absolute;
  z-index: 2;
  

}

#successful-COFAH-head, #successful-COFAH-footer{
  background: blue;
  text-align: center;
}
#successful-COFAH-menu-button,#successful-COFAH-task-button{
background: orange;
}

#adventure-sprite-jumbotron{
  background-size: 100% 100%;
}

#cofah-success-sprite-modal{
  background-image: url("/images/adventureBackgrounds/3.png");
  background-size: 100% 100%;
  height: 400px;
}

#clockContainer{

  display: inline-block;
  text-align:center;
  /* background-color: red; */
  background-image: url("/images/bg.png");
  border-radius: 25px;
  width: 75%;

  background-size: 100% 100%;
  /* background-image: url("https://lh3.googleusercontent.com/proxy/6yDvlQNfotW8KiBoXCcn_4gkexofqoKQunoTkqgKRssZfvosEjzCXgszlbRYuS6iXfLbuQxv1aWGZHe2hqV_xu2jCBKVnKV62TRH1bgDURVOrNqV899RTCUoEeOyABuyz7GPUJgpb-A8d5ldgWVpGyGvZ9u0z56_4Bo") */
}
#clockContainer div{
  display: inline-block;
  
}
#clockBackground{
  background:  url("/images/scroll.png");
  background-size: 100% 100%;
  width: 75%;
  padding-top: 10px;
  padding-bottom: 10px
}



* {
  color: #574D68
}









.wrapper {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 10%;
  padding-right: 10%;
  background-image: url("/images/scroll.png");
  background-size: 100% 100%;
  text-align: center;
  

}







.reputation {
  text-transform: uppercase;
  font-size: 100%;
  font-weight: bolder;
  margin-bottom: 3px;
}





.chosenHero-Name {
  font-size: 200%;
  color: #574D68;
  font-weight: 900;
  margin-bottom: 5px;
}

.bio {
  padding: 20px;
  margin-bottom: 10px;  
}

/* body {
  background-image: url("/images/adventureBackgrounds/4.png");
  background-size: fill;
  background-repeat: no-repeat
} */

#enemy-container{
  position:absolute;
  bottom:0;
   right: 10%
}



#adventure-clock-row{
  margin-top:10px;
  text-align:center;
 
  
}

#main-page-cofah-container{
  background: #D2691E;
 
}



#navbar-icon{
  width: 50px
}

.task-card-error-message{
  color: red

}

#sparkles{
  position:absolute;
  
  left:0;
  bottom:0;
  height: 75%;
  width: 100%;
}

#react-player{
position:absolute;
top:0%;
left:0;
}


#adventure-page{
  /* background-image: url("/images/newQuestBackground.png"); */
  background-color: peru;
  background-size: 100% 100%;
}

#COFAH-submit-button, #Popover-specificCOFAHHero{
background-color:peru;
}

#COFAH-specific-hero{
text-align: center;
}
#successful-COFAH{
  background-color: peru
}